@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.board button{
    width:100px;
    height:100px;
    background-color: whitesmoke;
    margin: 1px;
    border: 4px solid black;
    border-radius: 50%;
}
p{
    text-align: right;
    font-size: 2em;
}
.words{
    font-family: 'Oswald', sans-serif;
}